body {
    position: relative;
    min-height: 100dvh;
    background-color: #030712;
    width: 100dvw;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    color: #CFCEF0;
    font-family: sans-serif;
}
.bg1 {
    position: absolute;
    left: 45%;
    top: -30px;
    height: 300px;
    width: 80px;
    border-radius: 50%;
    transform: rotate(-30deg);
    background-color: #6262f64b;
    filter: blur(30px);
}
.bg2 {
    left: 43%;
    top: 500px;
    width: 120px;
    transform: rotate(-50deg);
}
nav {
    margin-top: 30px;
    margin-inline: 20px;
    padding-inline: 5px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6262f620;
    background-color: #8585851d;
    backdrop-filter: blur(40px);
}
.homeBtn, .taskBtn, .achievementBtn, .membersBtn {
    font-size: 0.8rem;
    /* width: 90px; */
    padding-inline: 15px;
    height: 25px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: Arial, sans-serif;
}
.activeNavBtn {
    /* background-color: #5350E3; */
    border-radius: 3px;
    background-image: linear-gradient(to top, #4d4aff, #7371fd);
}







/* start of home page */
.homePage > header {
    text-align: center;
}
.homePage > header > h3 > span, h5{
    color: #7C7AD1;
}

.autoScrollImg {
    margin-inline: 10px;
    height: 230px;
}
.imgContainer {
    height: 200px;
    padding: 15px;
}
.imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(67, 89, 253, 0.189);
}

.ourGoal > h5 {
    border-bottom: 1px solid #7C7AD1;
    margin-inline: 35%;
}
.ourGoal > h5 > span {
    background-color: #030712;
    position: relative;
    top: 8px;
    padding-inline: 5px;
}
.ourGoal > p {
    text-align: justify;
    padding-inline: 20px;
    font-size: 0.8rem;
    font-weight: 100;
}

.homePage > footer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-inline: 15px;
    margin-bottom: 50px;
}
.homePage > footer > div {
    border: 1px solid #6262f620;
    background-color: #8585851d;
    backdrop-filter: blur(40px);
    border-radius: 5px;
    aspect-ratio: 1/1;
    font-size: 0.7rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    transition: scale 0.2s ease-in-out;
    /* padding-inline: 10px; */
}
.homePage > footer > div:hover {
    scale: 1.05;
}
.homePage > footer > div > p {
    margin-inline: 7px;
    margin-top: 27px;
}
.homePage > footer > div > img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 3px;
    position: absolute;
    top: -22.5px;
    left: calc(50% - 22.5px);
    box-shadow: 0 0 10px 3px rgba(184, 178, 246, 0.189);
}
/* end of home page */


/* start of members page */
.membersPage > header {
    margin-top: 60px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.membersPage > header > h3 > span {
    color: #7C7AD1;
}
.membersPage > header > img {
    height: 100px;
}

.join, .review, .membersComponent > button {
    width: 84px;
    height: 24px;
    background-color: #cdcdcd32;
    color: white;
    border-radius: 3px;
    border: 1px solid #6262f629;
    font-size: 0.8rem;
    margin-inline: 2px;
}
.join, .membersComponent > button {
    background-image: linear-gradient(to top, #4d4aff, #7371fd);
    border: none;
}

.membersWrapper {
    text-align: left;
    margin-inline: 20px;
}
.membersComponent {
    border: 1px solid #6262f620;
    background-color: #8585851d;
    backdrop-filter: blur(40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding-block: 5px;
    margin-bottom: 10px;
}
.membersComponent > div {
    display: flex;
    align-items: center;
}
.membersComponent > div > h3, .membersComponent > div > p {
    margin-block: 5px;
    margin-left: 10px;
}
.membersComponent > div > p {
    font-size: 0.8rem;
    font-weight: bold;
}
.membersComponent > div > p > span {
    color: #7C7AD1;
    font-size: 0.7rem;
}
.membersComponent > button {
    margin-right: 10px;
    height: 30px;
}


.membersPage > footer {
    background-color: #4d4aff;
    border-radius: 30px 30px 0 0;
    background-image: linear-gradient(to top, #2E2C7D, #5350E3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 3px rgba(67, 89, 253, 0.189);
}
.membersPage > footer > p {
    font-size: 0.8rem;
}
/* end of members page */



/* start of task page */
/* cube start */
.taskPage > header {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.box {
    height: 80px;
    width: 80px;
    transform-style: preserve-3d;
    /* transform: rotateY(130deg) rotateX(130deg); */
    animation: animate 12s infinite;
}
@keyframes animate {
    0% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
        transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
}
.box > img {
    position: absolute;
    height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}
.card {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: radial-gradient(rgba(119, 157, 217, 0.117), rgba(32, 61, 108, 0.774));
/*     background: radial-gradient(rgba(70, 124, 210, 0.117), rgba(0, 30, 77, 0.774)); */
    border: 1px solid rgba(0, 0, 0, 0.43);
    font-size: 1rem;
    box-sizing: border-box; 
    position: absolute;
    transition: all 1s;
}
#front {
    transform: translateZ(40px);
}
#back {
    transform: translateZ(-40px);
}
#left {
    right: 40px;
    transform: rotateY(-90deg);
}
#right {
    left: 40px;
    transform: rotateY(90deg);
}
#top {
    bottom: 40px;
    transform: rotateX(90deg);
}
#bottom {
    top: 40px;
    transform: rotateX(-90deg);
}
/* .background {
    background-color: rgba(99, 71, 163, 0.522);
    filter: blur(50px);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: -1;
} */
.expand {
    /* background-color: gray; */
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: absolute;
    z-index: 1;
}
.expand:focus~ .box > #front {
    transform: translateZ(60px) rotateY(360deg);
}
.expand:focus~ .box > #back {
    transform: translateZ(-60px) rotateY(360deg);
}
.expand:focus~ .box > #left {
    right: 60px;
}
.expand:focus~ .box > #right {
    left: 60px;
}
.expand:focus~ .box > #top {
    bottom: 60px;
}
.expand:focus~ .box > #bottom {
    top: 60px;
}
/* cube end */


.parent {
    margin-top: 20px;
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: #D1E1FA;
    backdrop-filter: blur(40px);
    border-radius: 24px 24px 0 0;
    min-height: calc(100dvh - 255px);
    position: relative;
}
.subNav {
    margin-inline: 10px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    top: -27px;
}
.subNav > div {
    width: 65px;
    font-size: 0.8rem;
    color: black;
    font-weight: 100;
}
.subNav > div > button {
    color: #180945;
    height: 54px;
    width: 54px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.25);
}
/* .subNav > div > button:focus {
    background-color: #A7A6E0;
} */
/* temporary */
#current {
    background-color: #A7A6E0;
}

.taskListContainer {
    margin-inline: 20px;
    margin-block: 10px;
}
.taskListContainer > div {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.taskThumbnail > img {
    aspect-ratio: 6/4;
    width: 100%;
    object-fit: cover;
}
.taskThumbnail {
    position: relative;
}
.taskThumbnail > div {
    background-color: #c7c7c777;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 5%;
    right: 5%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #040A1B;
    padding: 10px;
}

.taskDetails {
    aspect-ratio: 6/1;
    background-color: #A7A6E0;
    margin-top: -4px;
    position: relative;
}
.taskDetails > div {
    position: absolute;
    background-color: #554979;
    height: 28px;
    width: 70px;
    border-radius: 3px;
    border: 1px solid #67607e;
    right: 20px;
    top: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.25);
}
.taskDetails > div > p {
    margin: 0;
    font-size: 0.7rem;
}
.taskDetails > p {
    text-align: left;
    margin: 0;
    padding-block: 14px;
    padding-inline: 20px;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}
.taskDetails > p > span {
    color: #4E4E4E;
}
